/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
.context{
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: x-large;
}
.adminsindex{
    background-color: #f2f2f2;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    width: min-content;
    height: fit-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
}
h1 {
    color: #333;
    text-align: center;
}

button {
    background-color: #8dc4e8;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #8dc4e8;
}

form {
    background-color: #fff;
    padding: 20px;
    /*float: left;*/
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #8dc4e8;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #8dc4e8;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

